@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat&display=swap');

body{
    margin: 0px;
    padding: 0px;
}
*{
    box-sizing: border-box;
}
p{
    margin: 0px;
}
a{
    text-decoration: none;
}
nav{
    position: relative;
}
.lang{
    position: fixed;
}
.left-lang{
    top: 62px;
    right: 178px;
}
.right-lang{
    top: 62px;
    right: 56px;
}
.switch {
    display: inline-block;
    width: 85px;
    height: 35.28px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: fixed;
    cursor: pointer;
    width: 85px;
    height: 35.28px;
    top: 54.4px;
    right: 85px;
    transition: .4s;
    border: 1px solid black;
}
  
.slider:before {
    position: fixed;
    content: "";
    height: 26px;
    width: 26px;
    top: 58.84px;
    right: 136px;
    background-color: #000;
    -webkit-transition: .4s;
    transition: .4s;
}
  
/* input:checked + .slider {
    background-color: #2196F3;
} */
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    transform: translateX(43px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
/* .banner-utama::before{
    position: absolute;
    top: 242px;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-image: url(images/banner.png);
    background-repeat: no-repeat;
    background-position: center;    
} */
.banner-utama{
    display: flex;
    flex-direction: column;
    background: url(images/banner-bg-effect.png) center no-repeat, url(images/banner.png) 50% 204px no-repeat, url(images/banner-bg.png) center top no-repeat;
    background-size: cover, auto, cover;
}
.banner-utama h1{
    font-family: 'Montserrat', serif;
    font-size: 56px;
    text-align: center;
    font-weight: medium;
    margin-bottom: 54px;
    padding-top: 54.12px;
    padding-bottom: 750px;
}
.foto-banner{
    width: 977px;
    margin: 0 auto;
}
.isi{
    background-image: linear-gradient(white,#9ed8ee, white);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.arab{
    width: 829.94px;
    margin: 25px auto 0px auto;
}
.batas-gambar{
    width: 738px !important; 
    margin: 0px auto 0px auto;
}
.sambutan-tamu{
    margin: 60px auto 0px auto;
    max-width: 60%;
}
.a, .b{
    text-align: center;
    margin: 0px;
}
.a{
    font-family: "Montserrat", serif;
    font-size: 42px;
    font-style: italic;
}
.b{
    font-family: 'Great Vibes', serif;
    font-size: 128px;
}
.tombol-rsvp{
    text-align: center;
    padding: 13px 37px 13px 38px;
    background-color: #4682B4;
    border: 4px solid #4682B4;
    border-radius: 25px;
    width: fit-content;
    margin: 45px auto 45px auto;
    font-family: "Montserrat", serif;
    font-size: 36px;
    color: white;
}
.detail-nama{
    display: flex;
    flex-direction: column;
    margin-top: 99px;
}
.detail-nama img{
    width: 420px;
}
.detail-nama img, .detail-nama p {
    margin-left: auto;
    margin-right: auto;
}
.nama-pengantin-wanita, .nama-pengantin-pria{
    font-family: "Great Vibes", serif;
    margin-top: 60px;
    font-size: 72px;
}
.keluarga-pengantin-wanita, .keluarga-pengantin-pria{
    font-family: "Montserrat", serif;
    font-size: 24px;
    text-align: center;
}
.keluarga-pengantin-pria{
    margin-bottom: 45px;
}
.c{
    font-family: "Great Vibes", serif;
    font-size: 128px;
    margin: 60px auto;
}
.tanggal-pernikahan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 180.86px auto 128px auto;
}
.tanggal-pernikahan p, .tanggal-pernikahan tr td{
    text-align: center;
}
.tanggal-pernikahan tr td{
    font-family: "Montserrat", serif;
}
.save{
    font-family: "Great Vibes", serif;
    font-size: 96px;
}
.tanggal{
    font-family: "Montserrat", serif;
    font-size: 36px;
}
.tanggal-pernikahan table{
    margin-top: 76px;
}
.countdown{
    table-layout: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.col-head{
    font-size: 48px;
}
.col-body{
    font-size: 128px;
}
.tambah{
    background-color: #4682B4;
    border: 4px solid #4682B4;
    border-radius: 25px;
    width: fit-content;
    margin: 56px auto 45px auto;
}
.tambah a{
    font-size: 36px; 
    font-family: "Montserrat", serif;
    font-weight: bold;
    color: white;
    padding: 20px 30px;
}
.tambah a:hover{
    color: white;
}
.tambah:hover{
    cursor: pointer;
    background-color: #4682B4;
    transition: 0.5s;
}
.foto-pengantin{
    display: flex;
    flex-direction: column;
    margin: 160px auto;
}
.foto-pengantin h1{
    margin: 0px auto 47px auto;
    font-family: "Great Vibes", serif;
    font-size: 96px;
    font-weight: normal;

}
.data-lengkap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
}
.data-lengkap img{
    width: 52px;
    margin: 0px auto 32.65px auto;
}
.data-lengkap h1{
    margin: 0px auto 0px auto;
    font-family: "Great Vibes", serif;
    font-size: 96px;
    font-weight: normal;
}
.d{
    font-family: "Montserrat", serif;
    text-align: center;
    font-size: 36px;
}
.data-lengkap h3{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    font-family: "Montserrat", serif;
    font-size: 64px;
    font-weight: bolder;
    text-align: center;
    padding: 32.07px 0px;
}
.data-lengkap .e, .data-lengkap .f, .lokasi{
    font-family: "Montserrat", serif;
    font-size: 48px;
    margin: 0px auto;
}
.data-lengkap .f{
    margin-bottom: 64.15px;
}
.lokasi{
    display: flex;
    flex-direction: column;
    margin: 0px auto 160px auto;
}
.lokasi > *{
    text-align: center;
}
.lokasi h4{
    margin: 0px;
}
.lokasi iframe{
    margin: 32.47px auto 45px auto;
}
.rsvp{
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", serif;
    margin-bottom: 145.52px;
}
.rsvp h1{
    margin: 0px;
    text-align: center;
    font-size: 64px;
    font-weight: bold;
}
.rsvp p{
    text-align: center;
    font-size: 48px;
    margin-bottom: 32.29px;
}
.bisa, .tidak-bisa, .konfirmasi, .jumlah{
    font-size: 36px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}
.bisa a, .tidak-bisa a, .konfirmasi a{
    font-size: 36px;
}
.bisa{
    padding: 10px 125px;
    margin-bottom: 16px;
    background-color: #5AA469;    
}
.bisa a{
    color: white;
}
.tidak-bisa{
    padding: 10px 75px;
    margin-bottom: 90px;
    background-color: #F46060;
}
.tidak-bisa a{
    color: white;
}
.konfirmasi a{
    color: #4682B4;
    font-weight: bold;
}
.konfirmasi{
    padding: 10px 67px;
    border: 4px solid #4682B4;
    margin-bottom: 45px;
}
.jumlah{
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    align-items: center;
}
.jumlah div > * {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}
.mid{
    width: 299px;
    height: 75px;
    background-color: white;
    border-radius: 25px;
    margin: 0px 14px;
}
.left, .right{
    width: 75px;
    height: 75px;
    background-color: white;
    border-radius: 25px;
}
.mid p{
    margin-top: 5%;
}
.left p, .right p{
    margin-top: 20%;
}
/* .jumlah{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.jumlah p{
    background-color: white;
    border-radius: 25px;
    font-size: 36px;
}
.left, .right{
    width: 75px;
    height: 75px;
}
.jumlah .mid{
    margin: 0px 14px;
    padding: 10px 140px;
} */
.mid{
    font-family:'Book Antiqua', serif;
}
.prokes{
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", serif;
}
.prokes h1{
    text-align: center;
    font-size: 72px;
    margin: 0px;
}
.prokes img{
    width: 80%;
    margin: 44px auto 0px auto;
}
.wedding-wish{
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", serif;
    margin-top: 175px;
}
.g{
    font-family: "Great Vibes", serif;
}
.wedding-wish h1{
    margin: 0px;
    font-size: 72px;
    text-align: center;
}
.wedding-wish p{
    font-size: 36px;
    text-align: center;
    margin: 33px auto;
}
.wedding-wish textarea{
    width: 64%;
    margin: 0px auto;
    border-radius: 16px;
}
.kirim{
    font-size: 32px;
    font-weight: bold;
    color: white;
    border: 4px solid #4682B4;
    background-color: #4682B4;
    width: fit-content;
    margin: 33px auto;
    padding: 10px 50px;
    border-radius: 25px;
}
.komentar{
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
}
.row{
    width: 80%;
    margin: 0px auto 50px auto;
}
.nama, .detail{
    font-size: 36px;
}
.nama{
    font-weight: bold;
}
.tanggal-submit{
    font-size: 24px;
}
.continue{
    font-size: 32px;
    background-color: #4682B4;
    color: #fff;
    border: 4px solid #4682B4;
    font-weight: bold;
    width: fit-content;
    margin: 0px auto;
    padding: 10px 40px;
    border-radius: 25px;
}
.ayat{
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-size: 42px;
    margin-bottom: 45px;
}
.arti-ayat{
    text-align: center;
    margin: 30px auto 48px auto;
    width: 65%;
}
.surat{
    text-align: center;
    font-weight: bold;
}
.penutup{
    display: flex;
    flex-direction: column;
    margin: 160px auto; 
}
.pernyataan{
    font-family: "Montserrat", serif;
    font-size: 48px;
    text-align: center;
    width: 60%;
    margin: 0px auto;
}
.ending{
    font-family: "Great Vibes", serif;
    color: #4682B4;
    font-size: 128px;
    text-align: center;
    margin-top: 60px;
}
@media screen and (max-width: 768px) {
    input:checked + .slider:before {
        transform: translateX(40px);
    }
    .lang{
        font-size: 16px;
        top: 60px;
    }
    .left-lang{
        right:127px ;
    }
    .right-lang{
        /* aslinya 68px */
        right: 25px;
    }
    .slider{
        top: 55px;
        width: 68.29px;
        height: 28px;
        right: 53px;
    }
    .slider::before{
        top: 60px;
        height: 18px;
        width: 18px;
        right: 98px;
    }
    .banner-utama{
        background: url(images/banner-bg-effect.png) center / 768px auto no-repeat, url(images/banner.png) 50% 80px / 521px auto no-repeat, url(images/banner-bg.png) center top / 768px auto no-repeat;
    }
    .banner-utama h1{
        padding-bottom: 250px;
    }
    .arab{
        width: 433.83px;
    }
    .batas-gambar{
        width: 356px !important;
    }
    .ayat{
        font-size: 25px;
    }
    .a{
        font-size: 24px;
    }
    .b{
        font-size: 72px;
    }
    .tombol-rsvp{
        padding: 10px 27px;
        font-size: 24px;
    }
    .detail-nama img{
        width: 262px;
    }
    .keluarga-pengantin-pria, .keluarga-pengantin-wanita{
        font-size: 28px;
    }
    .c{
        font-size: 96px;
    }
    .save{
        font-size: 72px;
    }
    .tanggal{
        font-size: 24px;
    }
    .col-head{
        font-size: 36px;
    }
    .col-body{
        font-size: 84px;
    }
    .tambah{
        padding: 10px 0px;
    }
    .tambah a{
        font-size: 20px;
    }
    .foto-pengantin h1{
        font-size: 96px;
    }
    .data-lengkap img{
        width: 58.48px;
    }
    .data-lengkap h1{
        font-size: 72px;
    }
    .data-lengkap p {
        font-size: 36px;
    }
    .data-lengkap h3{
        font-size: 42px;
    }
    .data-lengkap .e, .data-lengkap .f, .lokasi{
        font-size: 36px;
    }
    .rsvp h1{
        font-size: 48px;
    }
    .rsvp p{
        font-size: 32px;
    }
    .bisa a, .tidak-bisa a, .konfirmasi a, .jumlah a{
        font-size: 28px;
    }
    .bisa{
        padding: 10px 80px;
    }
    .tidak-bisa{
        padding: 10px 30px;
    }
    .konfirmasi{
        padding: 10px 20px;
    }
    .jumlah{
        width: 80%;
    }
    .mid{
        width: 213px;
        height: 63px;
    }
    .mid p{
        margin-top: 7%;
    }
    .left, .right{
        width: 75px;
        height: 63px;
    }
    .left p, .right p {
        margin-top: 15%;
    }
    iframe{
        width: 80%;
    }
    .prokes h1{
        font-size: 48px;
    }
    .wedding-wish h1{
        font-style: 64px;
    }
    .wedding-wish p{
        font-size: 20px;
    }
    .kirim{
        font-size: 24px;
        padding: 10px 30px;
    }
    .nama, .detail{
        font-size: 24px;
    }
    .tanggal-submit{
        font-size: 16px;
    }
    .continue{
        font-size: 20px;
        padding: 10px 20px;
    }
    .pernyataan{
        font-size: 36px;
    }
    .ending{
        font-size: 84px;
    }
}
@media screen and (max-width: 426px) {
    input:checked + .slider:before {
        transform: translateX(20px);
    }
    .lang{
        font-size: 9px;
        top: 27px;
    }
    .left-lang{
        right:65px ;
    }
    .right-lang{
        /* aslinya 68px */
        right: 10px;
    }
    .slider{
        top: 25px;
        width: 31.88px;
        height: 14px;
        right: 27px;
    }
    .slider::before{
        top: 27px;
        height: 10px;
        width: 8px;
        right: 49px;
    }
    .banner-utama{
        background: url(images/banner-bg-effect.png) center / 424px auto no-repeat, url(images/banner.png) 50% 50px / 324px auto no-repeat, url(images/banner-bg.png) center top / 424px auto no-repeat;
    }
    .banner-utama h1{
        padding-bottom: 120px;
    }
    .arab{
        width: 325.79px;
    }
    .arti-ayat{
        width: 90%;
    }
    .ayat{
        font-size: 16px;
    }
    .a{
        font-size: 16px;
    }
    .b{
        font-size: 56px;
    }
    .batas-gambar{
        width: 216px !important;
    }
    .tombol-rsvp{
        font-size: 20px;
    }
    .detail-nama img{
        width: 190.27px;
    }
    .nama-pengantin-pria, .nama-pengantin-wanita{
        font-size: 48px;
    }
    .keluarga-pengantin-wanita, .keluarga-pengantin-pria{
        font-size: 16px;
    }
    .save{
        font-size: 56px;
    }
    .tanggal{
        font-size: 20px;
    }
    .c{
        font-size: 72px;
    }
    .col-head{
        font-size: 24px;
    }
    .col-body{
        font-size: 56px;
    }
    .countdown{
        width: 95%;
    }
    .tambah{
        padding: 7px 0px;
    }
    .tambah a{
        font-size: 14px;
        padding: 0px 20px;
    }
    .foto-pengantin h1{
        font-size: 56px;
    }
    .data-lengkap img{
        font-size: 41.52px;
    }
    .data-lengkap h1{
        font-size: 48px;
    }
    .data-lengkap h3{
        font-size: 28px;
    }
    .d{
        font-size: 18px;
    }
    .data-lengkap .e, .data-lengkap .f, .lokasi{
        font-size: 24px;
    }
    iframe{
        width: 318.07px;
    }
    .rsvp h1{
        font-size: 36px;
    }
    .rsvp p{
        font-size: 24px;
        margin-bottom: 23.39px;
    }
    .bisa, .tidak-bisa{
        display: flex;
    }
    .bisa{
        padding: 10px 55px;
    }
    .tidak-bisa{
        padding: 10px 26px;
    }
    .left, .right{
        height: 47.21px;
        width: 56.21px;
    }
    .jumlah{
        width: 80%;
    }
    .mid{
        width: 159.62px;
        height: 47.21px;
    }
    .mid p{
        margin-top: 8%;
    }
    .bisa a, .tidak-bisa a, .konfirmasi a{
        font-size: 20px;
    }
    .konfirmasi{
        display: flex;
        padding: 10px 24px;
    }
    .wedding-wish h1{
        font-size: 48px;
    }
    .wedding-wish p{
        font-size: 12px;
    }
    .wedding-wish textarea{
        width: 90%;
    }
    .kirim{
        font-size: 12px;
        padding: 5px 15px;
    }
    .nama, .detail{
        font-size: 16px;
    }
    .tanggal-submit{
        font-size: 10px;
    }
    .continue{
        font-size: 10px;
        padding: 10px 20px;
    }
    .prokes h1{
        font-size: 32px;
    }
    .pernyataan{
        font-size: 24px;
        width: 80%;
    }
    .ending{
        font-size: 48px;
    }
}