<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'images/favicon.ico') }}" type="image/x-icon">
    <title>Undangan Pernikahan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
</head>
<body onload="countdown()">
    <div class="overlay">
        <a href="javascript:void()" onclick="closeOverlay()"><img src="{{ url_for('static', filename = 'images/x-sign.png') }}" alt="gambarx" class="gambar-x"></a>
        <div class="detail-overlay"></div>
        <div class="nama-rekening">Innani Choirun Nisa<br>0295277930<br>BNI</div>
    </div>
    {% if overlay is false %}
    {% else %}
    <div class="cover-page">
        <div class="title">
            Innani<br>&<br>Gaferi
        </div>
        <div class="buka">
            <a href="javascript:void()" onclick="closeCover()"></a>
        </div>
    </div>
        {% endif %}
    <header>
        <nav>
            <div class="left-lang lang">IN</div>
            <label class="switch">
                <input type="checkbox" onclick="setLanguage()">
                <span class="slider round"></span>
            </label>
            <div class="right-lang lang">EN</div>
        </nav>
    </header>
    <img src="{{ url_for('static', filename = 'images/Very_Black_screen.jpg') }}" alt="" class="overlay-bg">
    <main>
        <div class="content">
            <!-- Isinya tulisan undangan pernikahan + foto utama + foto bg + rspv -->
            <div class="banner-utama">
                <h1> </h1>
            </div>
            <div class="isi">
                <article class="ayat">
                    <img src="{{ url_for('static', filename = 'images/arab.png') }}" class="arab" alt="">
                    <div class="arti-ayat">
                    </div>
                    <div class="surat">- Ar Rum 21</div>
                </article>
                <img src="{{ url_for('static', filename = 'images/border-bunga.png') }}" alt="" class="batas-gambar">
                <article class="nama-pengantin">
                    <div class="sambutan-tamu">
                        <div class="a"></div>
                        <div class="b">{{data}}</div>
                        <div class="a last"></div>
                        <div class="tombol-rsvp">
                            <a href="#rsvp-toggler">RSVP</a>
                        </div>
                    </div>   
                </article>
                <img src="{{ url_for('static', filename = 'images/border-bunga.png') }}" alt="" class="batas-gambar">
                <article class="nama-pengantin">
                    <div class="detail-nama">
                        <img src="{{ url_for('static', filename = 'images/wanita.png') }}" alt="foto-pengantin-wanita">
                        <p class="nama-pengantin-wanita">Innani Choirun Nisa</p>
                        <p class="keluarga-pengantin-wanita"></p>
                        <p class="c">&</p>
                        <img src="{{ url_for('static', filename = 'images/pria.png') }}" alt="foto-pengantin-pria">
                        <p class="nama-pengantin-pria">Gaferi Zaka Wali</p>
                        <p class="keluarga-pengantin-pria"></p>
                        <img src="{{ url_for('static', filename = 'images/border-bunga.png') }}" alt="" class="batas-gambar">
                    </div>
                </article>
                <article class="tanggal-pernikahan">
                    <p class="save">Save The Date</p>
                    <p class="tanggal"></p>
                    <img src="{{ url_for('static', filename = 'images/Line 1.png') }}" alt="">
                    <table class="countdown">
                        <tr class="col-head">
                        </tr>
                        <tr class="col-body">
                            <td id="days"></td>
                            <td id="hours"></td>
                            <td id="mins"></td>
                            <td id="secs"></td>
                        </tr>
                    </table>
                    <div class="tambah">
                        <a href="#" onclick="" class="tambah-jadwal"></a>
                    </div>
                    <img src="{{ url_for('static', filename = 'images/border-bunga.png') }}" alt="" class="batas-gambar">
                </article>
                <article class="foto-pengantin">
                    <h1>Pict of Us</h1>
                    <div class="colase-foto"></div>
                </article>
                <article class="data-lengkap">
                    <img src="{{ url_for('static', filename = 'images/Group 5.png') }}" alt="">
                    <h1>Innani & Gaferi</h1>
                    <p class="d">Wedding Day</p>
                    <h3></h3>
                    <p class="e"></p>
                    <p class="f">xx.xx - xx.xx</p>
                    <div class="lokasi">
                        <p class="h"></p>
                        <h4>Ballroom Hotel Tanjung Sari</h4>
                        <p>Jalan Mawar No.8-10 Penataban,<br>Lingkungan Mojoroto R,<br>Mojopanggung</p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3948.9718887743697!2d114.35370741478087!3d-8.205581094094645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd14540ea1f4fb9%3A0xdd33067a79ed7ec0!2sHotel%20Tanjung%20Asri!5e0!3m2!1sid!2sid!4v1626350024378!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        <img id="rsvp-toggler" src="{{ url_for('static', filename = 'images/border-bunga.png') }}" alt="" class="batas-gambar">
                    </div>
                </article>
                <article class="rsvp">
                    <h1 >RSVP</h1>
                    <p class = "i"></p>
                    <div class="pesan hadir"></div>
                    <div class="pesan tidak"></div>
                    <div class="bisa"><a href="javascript:void();" onclick="bisa()"></a></div>
                    <div class="tidak-bisa"><a href="javascript:void();" onclick="tidakBisa()"></a></div>
                    <div class="jumlah">
                        <div class="left"><a href="javascript:void()" onclick="kurang()"><p>-</p></a></div>
                        <div class="mid"><p>1</p></div>
                        <div class="right"><a href="javascript:void()" onclick="tambah()"><p>+</p></a></div>
                    </div>
                    <div class="konfirmasi"><a href="javascript:void();" onclick="confirm()" target=""></a></div>
                    <img src="{{ url_for('static', filename = 'images/border-bunga.png') }}" alt="" class="batas-gambar">
                </article>
                <article class="prokes">
                    <h1></h1>
                    <img src="{{ url_for('static', filename = 'images/Gambar Buat Prokes.png') }}" alt="">
                    <img src="{{ url_for('static', filename = 'images/border-bunga.png') }}" alt="" class="batas-gambar">
                </article>
                <article class="wedding-wish">
                    <h1 class="g">Wedding Wish</h1>
                    <p></p>
                    <form action="/submit/{{data}}/{{id}}" method="POST">
                        <textarea name="comment" id="comment" cols="30" rows="10" placeholder="Tulis harapanmu disini..."></textarea>
                        <input type="submit" value="Send" class="kirim">
                    </form>
                    <div class="komentar">
                        {% for komentar in daftar_komentar %}
                        <div class="row">
                            <div class="nama">{{komentar.author}}</div>
                            <div class="detail">{{komentar.comment}}</div>
                            <div class="tanggal-submit">{{komentar.date_created.date()}}</div>
                        </div>
                        {% endfor %}
                        <!-- <div class="row">
                            <div class="nama">Putra Jayanto</div>
                            <div class="detail">Selamat yaa semuga bahagia</div>
                            <div class="tanggal-submit">7 Juli 2021, 08.32</div>
                        </div>
                        <div class="row">
                            <div class="nama">Putra Jayanto</div>
                            <div class="detail">Selamat yaa semuga bahagia</div>
                            <div class="tanggal-submit">7 Juli 2021, 08.32</div>
                        </div> -->
                        <div class="continue"></div>
                    </div>
                    <img src="{{ url_for('static', filename = 'images/border-bunga.png') }}" alt="" class="batas-gambar">
                </article>
                
                <article class="penutup">
                    <div class="pernyataan">
                    </div>
                    <div class="ending">Innani & Gaferi</div>
                </article>
            </div>
        </div>
    </main>
    <audio id = "audio" src="{{ url_for('static', filename = 'music/lagu.mp3') }}" type="audio/mpeg"></audio>
    <script src="{{ url_for('static', filename = 'script.js') }}"></script>
</body>
</html>