<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'images/favicon.ico') }}" type="image/x-icon">
    <title>Undangan Pernikahan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
</head>
<body onload="countdown()">
    <div class="overlay">
        <h1><b>Wedding Gift</b></h1>
        <p></p>
        <div class="button-cover" onclick="closeOverlay()">
            <img src="{{ url_for('static', filename = 'images/gambar_gift.png') }}" alt="">
            <p>Wedding Gift</p>
        </div>
        <!-- 
        <div class="detail-overlay"></div>
        <div class="nama-rekening">Innani Choirun Nisa<br>0295277930<br>BNI</div> -->
    </div>
    <div class="next_overlay">
        <a href="javascript:void()" onclick="closeNextOverlay()"><img src="{{ url_for('static', filename = 'images/x-sign.png') }}" alt="gambarx" class="gambar-x"></a>
        <h1><b class="kado_online"></b></h1>
        <div class="detail_second_overlay_1">
            Innani Choirun Nisa/Gaferi Zaka Wali<br><br>Perumahan Villa Sukowidi Blok K-5, RT.02/ RW.P4, Kel. Klatak  Kec. Kalipuro, Banyuwangi, Jawa Timur
        </div>
        <h1><b class="amplop_digital"></b></h1>
        <div class="detail_second_overlay_2">
            Bank Negara Indonesia (BNI)<br>Innani Choirun Nisa<br>0295277930
            <div class="salin_no_rekening">
            </div>
        </div>
    </div>
    {% if overlay is false %}
    {% else %}
    <div class="cover-page">
        <div class="title">
            Innani<br>&<br>Gaferi
        </div>
        <div class="buka">
            <a href="javascript:void()" onclick="closeCover()"></a>
        </div>
    </div>
        {% endif %}
    <header>
        <nav>
            <div class="left-lang lang">IN</div>
            <label class="switch">
                <input type="checkbox" onclick="setLanguage()">
                <span class="slider round"></span>
            </label>
            <div class="right-lang lang">EN</div>
        </nav>
    </header>
    <img src="{{ url_for('static', filename = 'images/Very_Black_screen.jpg') }}" alt="" class="overlay-bg">
    <main>
        <div class="content">
            <!-- Isinya tulisan undangan pernikahan + foto utama + foto bg + rspv -->
            <div class="banner-utama">
                <h1> </h1>
            </div>
            <div class="isi">
                <article class="ayat">
                    <img src="{{ url_for('static', filename = 'images/arab.png') }}" class="arab" alt="">
                    <div class="arti-ayat">
                    </div>
                    <div class="surat">- Ar Rum 21</div>
                </article>
                <img src="{{ url_for('static', filename = 'images/border-bunga.png') }}" alt="" class="batas-gambar">
                <article class="nama-pengantin">
                    <div class="sambutan-tamu">
                        <div class="a"></div>
                        <div class="b">{{data}}</div>
                        <div class="a last"></div>
                        <div class="tombol-rsvp">
                            <a href="#rsvp-toggler">RSVP</a>
                        </div>
                    </div>   
                </article>
                <img src="{{ url_for('static', filename = 'images/border-bunga.png') }}" alt="" class="batas-gambar">
                <article class="nama-pengantin">
                    <div class="detail-nama">
                        <img src="{{ url_for('static', filename = 'images/wanita.png') }}" alt="foto-pengantin-wanita">
                        <p class="nama-pengantin-wanita">Innani Choirun Nisa</p>
                        <p class="keluarga-pengantin-wanita"></p>
                        <p class="c">&</p>
                        <img src="{{ url_for('static', filename = 'images/pria.png') }}" alt="foto-pengantin-pria">
                        <p class="nama-pengantin-pria">Gaferi Zaka Wali</p>
                        <p class="keluarga-pengantin-pria"></p>
                        <img src="{{ url_for('static', filename = 'images/border-bunga.png') }}" alt="" class="batas-gambar">
                    </div>
                </article>
                <article class="tanggal-pernikahan">
                    <p class="save">Save The Date</p>
                    <p class="tanggal"></p>
                    <img src="{{ url_for('static', filename = 'images/Line_1.png') }}" alt="">
                    <table class="countdown">
                        <tr class="col-head">
                        </tr>
                        <tr class="col-body">
                            <td id="days"></td>
                            <td id="hours"></td>
                            <td id="mins"></td>
                            <td id="secs"></td>
                        </tr>
                    </table>
                    <div class="tambah">
                        <a href="#" onclick="" class="tambah-jadwal"></a>
                    </div>
                    <img src="{{ url_for('static', filename = 'images/border-bunga.png') }}" alt="" class="batas-gambar">
                </article>
                <article class="foto-pengantin">
                    <h1>Pict of Us</h1>
                    <div class="card">
  
                        <div class="card_part card_part-one">
                        </div>
                        
                         <!-- Photo 2 -->
                        <div class="card_part card_part-two">
                      
                        </div>
                      
                        <!-- Photo 3 -->
                        <div class="card_part card_part-three">
                        </div>
                      
                        <!-- Photo 4 -->
                        <div class="card_part card_part-four">
                        </div>
                      
                    </div>
                </article>
                <article class="data-lengkap">
                    <img src="{{ url_for('static', filename = 'images/Group_5.png') }}" alt="">
                    <h1>Innani & Gaferi</h1>
                    <p class="d">Wedding Day</p>
                    <h3></h3>
                    <p class="e"></p>
                    <p class="f">08.00 - selesai</p>
                    <div class="lokasi">
                        <p class="h"></p>
                        <h4>Grand Harvest Resort & Villas</h4>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15838.867404871315!2d107.58602160000001!3d-7.0425241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd14e9aa6ca82c7%3A0x5e89a2f28aaa062e!2sGrand%20Harvest%20Resort%20%26%20Villas%2C%20Dusun%20Krajan%2C%20Tamansari%2C%20Licin%2C%20Kabupaten%20Banyuwangi%2C%20Jawa%20Timur%2068454!5e0!3m2!1sid!2sid!4v1630144947457!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        <img id="rsvp-toggler" src="{{ url_for('static', filename = 'images/border-bunga.png') }}" alt="" class="batas-gambar">
                    </div>
                </article>
                <article class="rsvp">
                    <h1 >RSVP</h1>
                    <p class = "i"></p>
                    <div class="pesan hadir"></div>
                    <div class="pesan tidak"></div>
                    <div class="bisa"><a href="javascript:void();" onclick="bisa()"></a></div>
                    <div class="tidak-bisa"><a href="javascript:void();" onclick="tidakBisa()"></a></div>
                    <div class="jumlah">
                        <div class="left"><a href="javascript:void()" onclick="kurang()"><p>-</p></a></div>
                        <div class="mid"><p>1</p></div>
                        <div class="right"><a href="javascript:void()" onclick="tambah()"><p>+</p></a></div>
                    </div>
                    <div class="konfirmasi"><a href="javascript:void();" onclick="confirm()" target=""></a></div>
                    <img src="{{ url_for('static', filename = 'images/border-bunga.png') }}" alt="" class="batas-gambar">
                </article>
                <article class="prokes">
                    <h1></h1>
                    <img src="{{ url_for('static', filename = 'images/Gambar_Buat_Prokes.png') }}" alt="">
                    <img src="{{ url_for('static', filename = 'images/border-bunga.png') }}" alt="" class="batas-gambar">
                </article>
                <article class="wedding-wish">
                    <h1 class="g">Wedding Wish</h1>
                    <p></p>
                    <form action="/submit/{{data}}/{{id}}" method="POST">
                        <textarea name="comment" id="comment" cols="30" rows="10" placeholder="Mohon doa untuk kedua mempelai..."></textarea>
                        <input type="submit" value="Send" class="kirim">
                    </form>
                    <div class="komentar">
                        {% for komentar in daftar_komentar %}
                        <div class="row">
                            <div class="nama">{{komentar.author}}</div>
                            <div class="detail">{{komentar.comment}}</div>
                            <div class="tanggal-submit">{{komentar.date_created.date()}}</div>
                        </div>
                        {% endfor %}
                        <div class="continue"></div>
                    </div>
                    <img src="{{ url_for('static', filename = 'images/border-bunga.png') }}" alt="" class="batas-gambar">
                </article>
                
                <article class="penutup">
                    <div class="pernyataan">
                    </div>
                    <div class="ending">Innani & Gaferi</div>
                </article>
            </div>
        </div>
    </main>
    <audio id = "audio" src="{{ url_for('static', filename = 'music/lagu.mp3') }}" type="audio/mpeg"></audio>
    <script src="{{ url_for('static', filename = 'script.js') }}"></script>
</body>
</html>